.add-task {
    width: 80%;
    margin: auto;
}

.add-task h1 {
    padding-top: 56px;
    margin: 0 0 72px 0;
}

.add-task button:hover {
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
}

.left-section {
    width: 50%;
    border-right: 1px solid lightgray;
    padding-right: 42px;
    justify-content: flex-start;
}

.label-required {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 8px;
}

.label-required::after {
    content: "*";
    color: rgb(239, 136, 146);
}

.task-input {
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 32px;
    font-size: 19px;
}

.task-input::placeholder {
    color: lightgray;
}

.label-input {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 8px;
}

#description {
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 12px 20px;
    margin-bottom: 32px;
    font-size: 19px;
}

#description::placeholder {
    color: lightgray;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.right-section {
    width: 50%;
    padding-left: 42px;
    justify-content: flex-start;
}

.prio {
    width: 100%;
    justify-content: space-between;
}

.prio button {
    width: 140px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 300;
    padding: 16px 48px 16px 16px;
    box-shadow: 0 0 5px lightgray;
    background-size: 24px;
    background-repeat: no-repeat;
    margin-bottom: 32px;
}

.urgent-btn {
    background-image: url(../img/prioUrgent.svg);
    background-position: calc(100% - 20px) 50%;
}

.medium-btn {
    background-image: url(../img/prioMedium.svg);
    background-position: calc(100% - 14px) 50%;
}

.low-btn {
    background-image: url(../img/prioLow.svg);
    background-position: calc(100% - 32px) 50%;
}

.lightgray {
    color: lightgray;
}

.lightgray:valid {
    color: black;
}

.select {
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 300;
    background-color: white;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.select img {
    width: 32px;
}

.select img:hover {
    background-color: rgb(227, 230, 235);
    cursor: pointer;
    border-radius: 50%;
}

.plus {
    position: absolute;
    top: 14px;
    right: 21px;
}

.plus:hover {
    background-color: rgb(227, 230, 235);
    cursor: pointer;
    border-radius: 50%;
}

.subtasks {
    position: relative;
    z-index: 3;
}

.required {
    font-size: 18px;
    font-weight: 300;
}

.required::before {
    content: "*";
    color: rgb(239, 136, 146);
}

.lower-area {
    width: 100%;
    margin-top: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.dropdown-contacts {
    position: relative;
    top: 42px;
    z-index: 1;
    width: 100%;
    max-height: 290px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px lightgray;
    overflow: auto;
}

.dropdown-category {
    position: absolute;
    top: 42px;
    z-index: 9;
    width: 100%;
    max-height: 290px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px lightgray;
    overflow: auto;
}

.dropdown-sub {
    position: absolute;
    top: 13px;
    z-index: 1;
    width: 100%;
    max-height: 180px;
    background-color: rgba(0, 0, 0, 0);
    overflow: auto;
    box-shadow: 0 0 3px lightgrey;
    border-radius: 10px;
}

.dropdown-contacts ul {
    padding: 0;
}

.dropdown-category ul {
    padding: 0;
}

.dropdown-sub ul {
    padding: 22px 0 0 18px;
    margin-bottom: 0;
}

.dropdown-contacts li {
    padding: 0 24px;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-category li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 28px 4px 24px;
    list-style: none;
    cursor: pointer;
}

.dropdown-sub li {
    position: relative;
    padding: 4px 0 4px 8px;
    cursor: pointer;
    margin: 4px 0;
}

.dropdown-contacts li:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.dropdown-category li:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.dropdown-sub li:hover {
    background-color: rgb(227, 230, 235);
    border-radius: 10px;
}

.dropdown-category span {
    font-size: 22px;
    font-weight: 300;
    margin: 10px 0;
}

.dropdown-sub span {
    font-size: 18px;
}

.contacts {
    font-size: 22px;
    font-weight: 300;
    margin: 16px 0;
}

.contacts-icon {
    background-color: var(--orange);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}

.dropdown {
    position: absolute;
    top: 0;
    width: 100%;
}

.input-filter {
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 300;
    background-color: white;
    padding: 12px 20px;
    cursor: text;
}

.input-filter::placeholder {
    color: lightgray;
    font-size: 19px;
    font-weight: 100;
}

.contacts-filter {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.contacts-filter img {
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 999;
    width: 32px;
}

.contacts-filter img:hover {
    background-color: rgb(227, 230, 235);
    cursor: pointer;
    border-radius: 50%;
}

.crossPlus {
    width: 18px;
    border-radius: 50%;
    padding: 4px;
}

.crossPlus:hover {
    background-color: rgb(227, 230, 235);
    cursor: pointer;
    border-radius: 50%;
}

.line {
    width: 1px;
    height: 26px;
    background-color: lightgray;
}

.add-subtask {
    position: absolute;
    right: 0px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    position: absolute;
    top: 0px;
    right: 26px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
}

.editDelete:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.dropdown-sub li:hover .edit {
    opacity: 1;
}

.circle-purple {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: purple;
    border: solid 2px white;
}

.circle-blue {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: blue;
    border: solid 2px white;
}