#board {
    background-color: var(--sidebar-link-background);
}

#board img {
    filter: brightness(10);
}

#spanBoard {
    color: white !important;
    filter: brightness(10);
}

#contacts, #addTask {
    background-color: var(--sidebar-background) !important;
}
#spanContacts, #spanAddtask{
    color:var(--sidebar-color) !important;
    filter:none !important;
}
#contacts img, #addTask img{
    filter:none !important;
}

.flex-container-board {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-start-board {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 1 35%;
    justify-content: flex-start;
    align-items: center;
    margin: 64px 64px 0 0;
}

.flex-column-board {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.headline-board {
    margin: 64px 0 0 64px;
}

input#search-board {
    padding-left: 16px !important;
    background-color:#fff;
}

.btn-board {
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: var(--header-bg);
    font-size: 20px;
    padding: 12px 0 12px 20px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-board:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.flex-btw-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.tasks-card {
    background: #ffffff;
    height: fit-content;
    width: 200px;
    padding: 0 16px 16px 16px;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
}

.task-card-heading {
    padding: 6px 16px;
    border-radius: 10px;
    color: #ffffff;
    width: fit-content;
    font-size: 11pt;
}

.task-card-title {
    color: black;
    font-weight: 600;
    font-size: 12pt;
}

.task-card-note {
    color: #9a9a9a;
    font-size: 11pt;
}

/* PROGRESS BAR SETTINGS START */
.flex-start-progress {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    position: relative;
    margin: 24px 0;
}

.task-progress-bar-bg {
    background: #e7e7e7;
    border-radius: 5px;
    height: 5px;
    width: 100%;
    position: absolute;
}

.task-progress-bar {
    background: var(--ci-blue);
    border-radius: 5px;
    height: 5px;
    width: 50%;
    position: absolute;
}

/* PROGRESS BAR SETTINGS END */

.task-progress-task {
    color: black;
    font-size: 8pt;
}

.contact-icons-task {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: var(--header-bg);
}

.flex-icons-task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tasks-card-empty {
    background: #e7e7e7;
    height: fit-content;
    width: 200px;
    padding: 0 16px;
    border-radius: 12px;
    border: dotted 2px #9a9a9a;
    text-align: center;
    color: #9a9a9a;
}

.tasks-heading {
    font-size: 14pt;
    font-weight: 500;
    color: var(--sidebar-background);
}

.on-hover img {
    width: 24px;
    height: 24px;
    transition: all 250ms;
}

.on-hover:hover img {
    content: url('../img/add-btn-hover.svg');
}

/* POP UP TASKS */
.task-container-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    background: var(--summary-background);
    height: 800px;
    max-width: 450px;
    width: 450px;
    border-radius: 25px;
    padding: 32px;
    position: relative;
}

.task-pop-category {
    padding: 6px 16px;
    border-radius: 13px;
    color: #ffffff;
    width: fit-content;
    font-size: 18pt;
}

.close-task-pop {
    position: absolute;
    top: 40px;
    right: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-task-pop.pos {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-task-pop:hover {
    background: var(--sidebar-background);
    border-radius: 20px;
    color: var(--summary-background)
}

.task-pop-heading {
    color: black;
    font-size: 50pt;
    font-weight: 600;
}

.pop-task-description {
    color: black;
    font-size: 16pt;
}

.info-col {
    color: #9a9a9a;
}

.flex-btw-pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.prio-pop {
    margin-left: 8px;
}

.subtask {
    font-size: 12pt;
}

.position-end {
    position: absolute;
    bottom: 32px;
    right: 32px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.divider-pop {
    border-left: solid 1px #9a9a9a;
    height: 16pt;
    margin: 0 16px;
}

.link-pop-del:hover img {
    content: url(../img/delete-link.svg);
    width: 16px;
    height: 18px;
}

.link-pop-edit:hover img {
    content: url(../img/edit-link.svg);
    width: 19px;
    height: 19px;
}

/* add task modal */
.add-task-modal-inner{
    background: var(--summary-background);
    width: 65%;
    height:85%;
    border-radius: 20px;
    position: relative;
}

/* animations */
.move-to-left-pop {
    animation: move-to-left-animation-pop 300ms;
}

.move-to-right-pop {
    animation: move-to-right-animation-pop 300ms;
}

@keyframes move-to-left-animation-pop {
    from {
        margin-left: 5000px;
    }

    to {
        margin-left: 0;
    }
}

@keyframes move-to-right-animation-pop {
    from {
        margin-left: 5000px;
    }

    to {
        margin-left: 0;
    }
}