.drag-area-highlight {
    background: rgb(238, 238, 238) !important;
}

.rotate {
    transform: rotate(4deg);
}

.uncheck-icon {
    background: url(../img/uncheck.svg);
    height: 25px;
    background-repeat: no-repeat;
    display: flex;
    padding: 4px 0 4px 32px;
}

.check-icon {
    background: url(../img/check.svg);
    height: 25px;
    background-repeat: no-repeat;
    display: flex;
    padding: 4px 0 4px 32px;
    text-decoration: line-through;
}

.flex-col-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#board {
    background-color: var(--sidebar-link-background);
}

#board img {
    filter: brightness(10);
}

#spanBoard {
    color: white !important;
    filter: brightness(10);
}

#contacts,
#addTask {
    background-color: var(--sidebar-background) !important;
}

#spanContacts,
#spanAddtask {
    color: var(--sidebar-color) !important;
    filter: none !important;
}

#contacts img,
#addTask img {
    filter: none !important;
}

.flex-container-board {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 32px 0 32px;
    gap: 1%;
}

.flex-start-board {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 64px 64px 0 0;
}

.flex-column-board {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.flex-flow {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1 1 auto;
    width: 100%;
    gap: 1%;
}

.headline-board {
    margin: 64px 0 0 64px;
}

input#search-board {
    padding-left: 16px !important;
    background-color: #fff;
    min-width: 250px;
}

.media-hide-plus {
    display: none;
}

.btn-board {
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: var(--header-bg);
    font-size: 20px;
    padding: 12px 0 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    min-width: 160px;
}

.btn-board:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.flex-btw-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

#toDo,
#done,
#feedback,
#inProgress {
    min-height: 100%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f3f3f3;
}

#toDo::-webkit-scrollbar,
#done::-webkit-scrollbar,
#feedback::-webkit-scrollbar,
#inProgress::-webkit-scrollbar {
    max-width: 6px;
    max-height: 4px;
}


#toDo::-webkit-scrollbar-thumb,
#done::-webkit-scrollbar-thumb,
#feedback::-webkit-scrollbar-thumb,
#inProgress::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 6px;
    max-height: 4px;
}

.tasks-card {
    background: #ffffff;
    height: fit-content;
    min-width: 270px;
    width: 270px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    margin-bottom: 18px;
    box-sizing: border-box;
}

.task-card-heading {
    padding: 6px 16px;
    border-radius: 10px;
    color: #ffffff;
    width: fit-content;
    font-size: 11pt;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
}

.task-card-title {
    margin: 26px 0 0 0;
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.task-card-note {
    margin: 8px 0 10px 0;
    color: #9a9a9a;
    font-size: 15px;
}

.flex-start-progress {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    position: relative;
    margin: 24px 0;
}

.task-progress-bar-bg {
    background: #e7e7e7;
    border-radius: 5px;
    height: 5px;
    width: 100%;
    position: absolute;
}

.bar-distance {
    display: flex;
    align-items: center;
    gap: 16px;
}

.task-progress-bar {
    background: var(--ci-blue);
    border-radius: 5px;
    height: 5px;
    width: 0%;
    z-index: 1;
}

.task-progress-task {
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.contact-icons-task {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: solid 1px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--header-bg);
    font-weight: 300;
}

.flex-icons-task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tasks-card-empty {
    background: #e7e7e7;
    height: fit-content;
    width: 270px;
    padding: 0 16px;
    border-radius: 25px;
    border: dotted 2px #9a9a9a;
    text-align: center;
    color: #9a9a9a;
    box-sizing: border-box;
}

.empty-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
}

.tasks-heading {
    color: #42516E;
    font-size: 22px;
    font-weight: 500;
}

.on-hover img {
    width: 24px;
    height: 24px;
    transition: all 250ms;
    cursor: pointer;
}

.on-hover:hover img {
    content: url('../img/add-btn-hover.svg');
}

.font-edits {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.task-container-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    background: var(--summary-background);
    height: 95%;
    width: 28%;
    border-radius: 25px;
    padding: 32px 32px 64px 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.task-pop-category {
    padding: 6px 16px;
    border-radius: 13px;
    color: #ffffff;
    width: fit-content;
    font-size: 18pt;
}

.close-task-pop {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-task-pop.pos {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-task-pop:hover {
    background: var(--sidebar-background);
    border-radius: 20px;
    color: var(--summary-background)
}

.x-btn-edit {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.x-btn-edit:hover {
    background: var(--sidebar-background);
    border-radius: 20px;
    color: var(--summary-background)
}

.task-pop-heading {
    color: black;
    font-size: 52px;
    font-weight: 600;
}

#task-employees {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 215px;
}

.pop-task-description {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.contact-icons-info {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--header-bg);
    font-weight: 300;
    margin-right: 16px;
}

.info-col {
    color: #9a9a9a;
}

.flex-btw-pop {
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 20px 0;
}

.prio-pop {
    margin-left: 8px;
}

.subtask {
    font-size: 12pt;
}

.hover {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 4px 8px 4px 0;
}

.hover:hover {
    background-color: #e7e7e7;
    border-radius: 15px;
}

.position-end {
    position: fixed;
    bottom: 32px;
    right: 32px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.divider-pop {
    border-left: solid 1px #9a9a9a;
    height: 16pt;
    margin: 0 16px;
}

.link-pop-del:hover img {
    content: url(../img/delete-link.svg);
    width: 16px;
    height: 18px;
}

.link-pop-edit:hover img {
    content: url(../img/edit-link.svg);
    width: 19px;
    height: 19px;
}

.add-task-modal-inner {
    background: white;
    width: 80%;
    height: 90%;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden auto;
}

.add-task-modal-inner-edit {
    background: var(--summary-background);
    height: 95%;
    width: 28%;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    overflow: hidden auto;
}

.add-task-modal-inner-edit::-webkit-scrollbar {
    max-width: 6px;
    max-height: 20px;
}

.add-task-modal-inner-edit::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 6px;
    max-height: 20px;
}

.low-btn {
    background-position: calc(100% - 20%) 50% !important;
}

.medium-btn {
    background-position: calc(100% - 15%) 50% !important;
}

.urgent-btn {
    background-position: calc(100% - 15%) 50% !important;
}