/* drag and drop*/
.drag-area-highlight {
    background: rgb(238, 238, 238) !important;
}

.rotate {
    transform: rotate(4deg);
}

/* tasks info */
.uncheck-icon {
    background: url(../img/uncheck.svg);
    height: 25px;
    background-repeat: no-repeat;
    display: flex;
    padding: 4px 0 4px 32px;
}

.check-icon {
    background: url(../img/check.svg);
    height: 25px;
    background-repeat: no-repeat;
    display: flex;
    padding: 4px 0 4px 32px;
    text-decoration: line-through;
}

.flex-col-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#board {
    background-color: var(--sidebar-link-background);
}

#board img {
    filter: brightness(10);
}

#spanBoard {
    color: white !important;
    filter: brightness(10);
}

#contacts,
#addTask {
    background-color: var(--sidebar-background) !important;
}

#spanContacts,
#spanAddtask {
    color: var(--sidebar-color) !important;
    filter: none !important;
}

#contacts img,
#addTask img {
    filter: none !important;
}

.flex-container-board {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 32px 0 32px;
    gap: 1%;
}

.flex-start-board {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 64px 64px 0 0;
}

.flex-column-board {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.flex-flow {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1 1 auto;
    width: 100%;
    gap: 1%;
}

.headline-board {
    margin: 64px 0 0 64px;
}

input#search-board {
    padding-left: 16px !important;
    background-color: #fff;
    min-width: 250px;
}

.media-hide-plus {
    display: none;
}

.btn-board {
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: var(--header-bg);
    font-size: 20px;
    padding: 12px 0 12px 20px;
    border-radius: 10px;
    font-weight: 600;
    min-width: 160px;
}

.btn-board:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.flex-btw-board {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
}

#toDo,
#done,
#feedback,
#inProgress {
    min-height: 100%;
    min-width: 280px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f3f3f3;
}

.tasks-card {
    background: #ffffff;
    height: fit-content;
    width: 270px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    margin-bottom: 18px;
    box-sizing: border-box;
}

.task-card-heading {
    padding: 6px 16px;
    border-radius: 10px;
    color: #ffffff;
    width: fit-content;
    font-size: 11pt;
    line-height: 1;
    margin-block-start: 0;
    margin-block-end: 0;
}

.task-card-title {
    margin: 26px 0 0 0;
    color: black;
    font-weight: 600;
    font-size: 17px;
}

.task-card-note {
    margin: 8px 0 10px 0;
    color: #9a9a9a;
    font-size: 15px;
}

/* progress bar settings start */
.flex-start-progress {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 55%;
    position: relative;
    margin: 24px 0;
}

.task-progress-bar-bg {
    background: #e7e7e7;
    border-radius: 5px;
    height: 5px;
    width: 100%;
    position: absolute;
}

.bar-distance {
    display: flex;
    align-items: center;
    gap: 16px;
}

.task-progress-bar {
    background: var(--ci-blue);
    border-radius: 5px;
    height: 5px;
    width: 0%;
    z-index: 1;
}

/* progress bar settings end */

.task-progress-task {
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.contact-icons-task {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: solid 1px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--header-bg);
    font-weight: 300;
}

.flex-icons-task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tasks-card-empty {
    background: #e7e7e7;
    height: fit-content;
    width: 270px;
    padding: 0 16px;
    border-radius: 12px;
    border: dotted 2px #9a9a9a;
    text-align: center;
    color: #9a9a9a;
    box-sizing: border-box;
}

.empty-card-container {
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
}

.tasks-heading {
    font-size: 22px;
    font-weight: 500;
    color: var(--sidebar-background);
}

.on-hover img {
    width: 24px;
    height: 24px;
    transition: all 250ms;
    cursor: pointer;
}

.on-hover:hover img {
    content: url('../img/add-btn-hover.svg');
}

/* pop up tasks */
.font-edits {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.task-container-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    background: var(--summary-background);
    height: 800px;
    max-width: 450px;
    width: 450px;
    border-radius: 25px;
    padding: 32px;
    position: relative;
    overflow-y: auto;
}

.task-pop-category {
    padding: 6px 16px;
    border-radius: 13px;
    color: #ffffff;
    width: fit-content;
    font-size: 18pt;
}

.close-task-pop {
    position: absolute;
    top: 40px;
    right: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-task-pop.pos {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-task-pop:hover {
    background: var(--sidebar-background);
    border-radius: 20px;
    color: var(--summary-background)
}

.x-btn-edit {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.x-btn-edit:hover {
    background: var(--sidebar-background);
    border-radius: 20px;
    color: var(--summary-background)
}

.task-pop-heading {
    color: black;
    font-size: 52px;
    font-weight: 600;
}

#task-employees {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-height: 215px;
}

.pop-task-description {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.contact-icons-info {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--header-bg);
    font-weight: 300;
    margin-right: 16px;
}

.info-col {
    color: #9a9a9a;
}

.flex-btw-pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 20px 0;
}

.prio-pop {
    margin-left: 8px;
}

.subtask {
    font-size: 12pt;
}

.hover {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 4px 8px 4px 0;
}

.hover:hover {
    background-color: #e7e7e7;
    border-radius: 15px;
}

.position-end {
    position: absolute;
    bottom: 32px;
    right: 32px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.divider-pop {
    border-left: solid 1px #9a9a9a;
    height: 16pt;
    margin: 0 16px;
}

.link-pop-del:hover img {
    content: url(../img/delete-link.svg);
    width: 16px;
    height: 18px;
}

.link-pop-edit:hover img {
    content: url(../img/edit-link.svg);
    width: 19px;
    height: 19px;
}

.add-task-modal-inner {
    background: var(--summary-background);
    width: 65%;
    height: 85%;
    border-radius: 20px;
    position: relative;
}

.add-task-modal-inner-edit {
    background: var(--summary-background);
    height: 800px;
    max-width: 450px;
    width: 450px;
    border-radius: 25px;
    overflow-y: auto;
    padding-bottom: 32px;
    position: relative;
    margin: 0 4px;
}

.add-task-modal-inner-edit::-webkit-scrollbar {
    width: 6px;
    min-height: 20px;
  }
  
  .add-task-modal-inner-edit::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 6px;
    min-height: 20px;
  }
  
.prio button {
    font-size: 12pt !important;
    padding: 0 56px 0 8px !important;
}

.low-btn {
    background-position: calc(100% - 20%) 50% !important;
}

.medium-btn {
    background-position: calc(100% - 15%) 50% !important;
}

.urgent-btn {
    background-position: calc(100% - 15%) 50% !important;
}

/* media querrys*/
@media screen and (max-width: 1440px) {

    .flex-flow {
        flex-direction: column;
    }
}

@media screen and (max-width: 1020px) {

    .add-task h1 {
        font-size: 40pt;
        margin-top: 32px;
    }

    .close-task-pop.pos {
        top: 32px;
        right: 32px;
    }

    .add-task-modal-inner {
        width: 90%;
        height: 95%;
        overflow-y: auto;

    }
}

@media screen and (max-width: 960px) {

    input#search-board {
        min-width: 170px !important;
        margin-left: 16px;
    }

    .headline-board {
        font-size: 48px;
    }
}

@media screen and (max-width: 780px) {

    .flex-container-board {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        margin: 24px 32px 0 32px;
    }

    .flex-btw.board {
        min-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .flex-btw-board {
        min-width: 98%;
    }

    .flex-column-board {
        align-items: flex-start !important;
    }

    .media-hide-plus {
        display: flex;
    }

    .tasks-card-empty {
        width: 80% !important;
    }

    .flex-start-board {
        min-width: 90%;
    }

    .media-hide.board {
        display: flex !important;
    }

    .media-show.board {
        display: none !important;
    }

    .login {
        width: 80% !important;
        margin: 0 0 0 32px;
    }

    .btn-board {
        position: absolute;
        top: 134px;
        right: 30px;
        padding: 0 !important;
        min-width: 44px !important;
        min-height: 40px !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .headline-board {
        margin: 64px 0 0 32px !important;
    }

    .margin-t-xl {
        margin-top: 16px;
    }

    input#search-board {
        margin-left: 32px;
    }

    .task-container-card {
        max-width: 350px;
    }

    .task-pop-heading {
        font-size: 30pt;
    }

    .add-task h1 {
        font-size: 30pt;
        margin-top: 32px;
    }

    .close-task-pop.pos {
        top: 16px;
        right: 16px;
    }

    .add-task-modal-inner {
        width: 90%;
        height: 95%;
        overflow-y: auto;

    }
}

@media screen and (max-width: 400px) {

    .task-container-card {
        max-width: 240px;
        border-radius: 0;
    }

    .task-pop-heading {
        font-size: 26pt;
    }

    .btn-board {
        top: 120px !important;
        right: 32px;
    }

    .flex-btw-board {
        width: 230px;
    }

    .add-task h1 {
        font-size: 26pt;
        margin-top: 32px;
    }

    .flex-container-board {
        margin: 24px 12px 0 12px;
    }

    .close-task-pop.pos {
        top: 16px;
        right: 16px;
    }

    .add-task-modal-inner {
        width: 100%;
        border-radius: 0;
        height: 100vh;
        overflow-y: auto;
    }
}