#contacts {
    background-color: var(--sidebar-link-background);
}

#contacts img {
    filter: brightness(10);
}

#spanContacts {
    color: white;
    filter: brightness(10);
}

h2 {
    font-weight: 400;
}

li {
    list-style: none !important;
}

.flex-contacts {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 32px;
    overflow-x: hidden;
}

.flex-contacts-inner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-contacts-inner-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 4px 24px;
}

.flex-contacts-inner-li:hover {
    background: #f3f3f3;
    border-radius: 10px;
    cursor: pointer;
}

.flex-contacts-inner-li:focus {
    background: var(--sidebar-background);
    color: var(--summary-background);
    border-radius: 10px;
}

.return-contact {
    position: absolute;
    right: 35px;
    top: 125px;
    padding: 4px;
    z-index: 900;
}

#info-header {
    margin: 56px 16px 0 0;
    margin-right: 16px;
}

.contacts-section {
    background: var(--header-bg);
    min-width: 28%;
    height: calc(100vh - 100px);
    padding: 0 24px 24px 32px;
    overflow: auto !important;
    box-sizing: border-box;
}

.contacts-section button {
    min-width: 80%;
    padding: 12px 16px;
    margin: 24px auto 0 auto;
    display: inline-flex;
    justify-content: center;
    color: var(--header-bg);
    font-size: 16px;
    font-weight: 600;
    background: var(--sidebar-background);
    border-radius: 10px;
    border: none;
}

.contacts-section button:hover {
    background-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
}

.contacts-section button img {
    width: 24px;
    height: 24px;
}

.contacts-section ul {
    all: unset;
    list-style: none;
    color: black;
    font-size: 20px;
}

.contacts-section li {
    margin: 8px 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contact-icons {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--header-bg);
}

.contact-icons.info {
    min-height: 90px;
    min-width: 90px;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 300;
    color: var(--header-bg);
}

#contacts-bg {
    margin-right: 14px;
}

.contact-h1 {
    text-decoration: underline;
    text-decoration-color: var(--summary-h2-color);
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
    padding-top: 80px;
    margin-top: 0;
    font-size: 56px;
}

.contacts-links {
    color: var(--summary-h2-color);
    font-size: 16px;
    cursor: pointer;
}

.underline {
    border-bottom: solid 1px #cdcdcd !important;
    width: 100%;
    text-align: left;
    margin: 8px 0;
}

.contacts-bg {
    margin: 64px 8px 0 32px;
    gap: 16px;
}

.divider {
    border-left: 4px solid var(--summary-h2-color);
    height: 70px;
}

/* add contacts modal */
.modal-outer {
    width: 100vw;
    height: 100vh;
    background: var(--contacts-modal);
    z-index: 999;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.modal-inner {
    background: var(--header-bg);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.modal-inner.info {
    max-width: 825px !important;
}

.flex-row-contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin: 0;
    margin-top: 18px;
}

.flex-col-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--sidebar-background);
    border-radius: 20px 0 0 20px;
    height: 100%;
    min-width: 420px;
}

.flex-col-contacts-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-col-contacts-inner input {
    margin: 8px 0;
    width: 380px;
}

.flex-row-modal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin: 0;
    margin-top: 0;
    height: 500px;
    width: 80vw;
    box-shadow: 0 0 1px lightgray;
}

.logo-contacts {
    width: auto;
    height: 60px;
}

.heading-contacts {
    font-size: 50px;
    font-weight: 900;
    color: var(--summary-background);
    line-height: 0;
}

.subline-contacts {
    margin-top: -4px;
    font-size: 26px;
    line-height: 0;
    color: var(--summary-background);
}

#mail-info,
#phone-info {
    margin-top: 12px;
}

.divider-hori {
    border-bottom: 4px solid var(--summary-h2-color);
    width: 70px;
}

.close-btn-contacts {
    position: absolute;
    top: 60px;
    right: 80px;

    cursor: pointer;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-btn-contacts:hover {
    background: var(--sidebar-background);
    border-radius: 20px;
    color: var(--summary-background)
}

/* infobox */
.names {
    color: black;
    font-size: 40px;
    font-weight: 400;
}

.links:hover {
    color: var(--summary-h2-color);
    font-weight: 500;
    cursor: pointer;
}

.subline-info {
    font-size: 22px;
    font-weight: 300;
    line-height: 0;
    margin: 70px 0 60px 0;
}

/* dropdown edit contacts */
.dropdown-contacts-con {
    width: 120px;
    height: 110px;
    background: var(--header-bg);
    border-radius: 15px 15px 0 15px;
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.7);
    position: absolute;
    bottom: 160px;
    right: 8%;
    display: flex;
    flex-direction: column;
    color: var(--sidebar-background);
    font-weight: 600;
}

.bg-color {
    width: 100%;
    height: 55px;
}

.bg-color:hover {
    background-color: #f3f3f3;
    height: 55px;
    border-radius: 15px 15px 0 0;
}

.bg-color.snd:hover {
    background-color: #f3f3f3;
    height: 55px;
    border-radius: 0 0 0 15px;
}

.contact-bold {
    font-weight: 600;
}

.link {
    color: var(--summary-h2-color);
}

.modal-inner.modal {
    background: var(--summary-background);
    overflow: hidden;
}

.media-pos {
    color: #fff;
    font-size: 32px;
    min-height: 110px;
    min-width: 110px;
}

/* media querrys*/
@media screen and (max-width: 1440px) {
    .contact-img {
        display: none !important;
    }

    .media-pos {
        display: none !important;
    }

    .edit-width {
        width: 100%;
        margin-right: 60px;
    }

    .flex-col-contacts-inner input {
        width: 80%;
    }

    .media-hide img {
        width: 80px;
        height: 80px;
    }

    .flex-col-contacts-inner {
        width: 100%;
        align-items: center;
        padding: 0;
        min-height: 300px;
    }

    .flex-row.media {
        gap: 0;
    }

    .heading-contacts {
        font-size: 40px;
    }

    .subline-contacts {
        font-size: 20px;
    }

    .flex-row.media {
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
    }
}

@media screen and (max-width: 1150px) {
    .close-btn-contacts {
        top: 32px;
        right: 3%;
        color: white;
    }

    .edit-width {
        margin-right: 0;
        width: auto;
    }

    .close-btn-contacts:hover {
        background: white;
        border-radius: 20px;
        color: black;
    }

    .contacts-bg {
        margin: 64px 12px 0 0;
    }

    .modal-inner {
        height: 80%;
        padding: 0;
        border-radius: 20px;
    }

    .flex-col-contacts-inner {
        width: 500px;
    }

    .flex-row-modal {
        flex-direction: column;
        gap: 40px;
    }

    .flex-col-contacts {
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 0;
        height: 450px;
    }

    .heading-contacts {
        font-size: 64px;
    }

    .subline-contacts {
        font-size: 28px;
    }
}

@media screen and (max-width: 1020px) {
    .contacts-section {
        width: 50%;
        height: calc(100vh - 90px);
        padding: 0;
    }

    .btn-guest {
        display: none !important;
    }

    .flex-contacts {
        gap: 16px;
    }

    .flex-row-btn {
        max-width: 300px;
    }
}

@media screen and (max-width: 960px) {
    .media-show-icons {
        display: none;
    }

    .contacts-modal-info {
        width: 100%;
    }

    .contacts-bg h1 {
        text-decoration: underline;
        text-decoration-color: var(--summary-h2-color);
        text-underline-offset: 15px;
        text-decoration-thickness: 2px;
    }

    .flex-row-contacts {
        gap: 0;
        flex-direction: column;
        width: 100%;
        overflow: hidden !important;
    }

    .media-hide.contacts {
        display: flex !important;
    }

    .media-show.contacts {
        display: none !important;
    }

    .contacts-bg {
        margin: 32px 12px 16px 32px;
    }

    .flex-contacts {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0;
        background-color: white;
    }

    .contacts-section {
        width: 100%;
        padding: 0;
    }

    .media-pos {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-login.media {
        min-width: 200px;
    }

    .close-btn-contacts:hover {
        background-color: #fff;
        color: black;
    }

    .divider-hori {
        margin-left: 8px;
    }

    .divider-hori.modal {
        margin-left: 0;
    }

    .media-hide.btn {
        display: flex !important;
        position: absolute;
        bottom: 45px;
        right: 2%;
        z-index: 0;
        cursor: pointer;
    }

    .modal-inner.modal {
        height: 50% !important;
        position: absolute;
        left: 175px;
        top: 80px;
        height: 900px !important;
        justify-content: flex-start;
    }

    .modal-inner.info {
        width: calc(100% - 175px);
        height: 100vh !important;
        padding: 0;
    }

    .return.modal {
        z-index: 2;
    }

    .divider {
        height: 55px;
    }

    .contact-img {
        position: absolute;
        top: 320px;
    }

    #contacts-bg h2 {
        font-size: 22px;
        line-height: 1;
    }

    .dropdown-contacts-con {
        bottom: 130px;
    }
}

@media screen and (max-width: 767px) {
    .modal-inner {
        width: 100vw;
        height: 100%;
        border-radius: 0;
        padding: 0;
    }

    .flex-col-contacts {
        border-radius: 0;
    }

    .flex-col-contacts {
        height: 490px !important;
    }

    .contact-img {
        top: 425px;
    }

    .media-pos {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 570px) {
    .contacts-section {
        height: calc(100vh - 166px);
    }

    .flex-col-contacts-inner {
        max-width: 500px;
        width: inherit;
    }

    .heading-contacts {
        font-size: 48px;
    }

    .subline-contacts {
        font-size: 21px;
    }

    .media-hide.btn {
        bottom: 100px;
    }

    #contacts-list {
        margin-bottom: 100px;
    }

    #contacts-bg h2,
    .divider {
        display: none;
    }

    .media-hide img {
        width: 70px;
        height: 70px;
    }

    .media-hide img:hover {
        width: 50px;
        height: 50px;
    }

    .modal-inner.modal {
        height: 50% !important;
        position: absolute;
        width: 100% !important;
        left: 0 !important;
        top: 80px;
        height: 100% !important;
        justify-content: flex-start;
    }

    .dropdown-contacts-con {
        bottom: 160px;
    }

    .contact-icons.modal {
        min-height: 70px;
        min-width: 70px;
        font-size: 22px;
    }

    .names {
        font-size: 34px;
    }

    #info-header {
        gap: 22px;
    }

    .contacts-bg {
        margin-top: 12px;
    }

    .contacts-bg h1 {
        font-size: 46px;
    }

    .contact-h1 {
        padding-top: 60px;
    }

    .return-contact {
        right: 16px;
        top: 110px;
    }
}