/* classes */
#contacts {
    background-color: var(--sidebar-link-background);
}

#contacts img {
    filter: brightness(10);
}

#spanContacts {
    color: white;
    filter: brightness(10);
}

h2{
    font-weight: 400;
}

.flex-contacts {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 32px;
}

.flex-contacts-inner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-contacts-inner-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding: 4px 24px;
}

.flex-contacts-inner-li:hover {
    background: #f3f3f3;
    border-radius: 10px;
}
.flex-contacts-inner-li:focus {
    background: var(--sidebar-background);
    color:var(--summary-background);
    border-radius: 10px;
}

.contacts-section {
    background: var(--header-bg);
    width: 23%;
    height: calc(100vh - 110px);
    padding: 0 16px 16px 16px;
    overflow: auto !important;
}

.contacts-section button {
    width: 80%;
    padding: 12px 16px;
    margin: 24px auto 0 auto;
    display: inline-flex;
    justify-content: center;
    color: var(--header-bg);
    font-size: 16px;
    font-weight: 600;
    background: var(--sidebar-background);
    border-radius: 10px;
    border: none;
}

.contacts-section button:hover {
    background-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
}

.contacts-section button img {
    width: 24px;
    height: 24px;
}

.contacts-section ul {
    all: unset;
    list-style: none;
    color: black;
    font-size: 20px;
}

.contacts-section li {
    margin: 16px 0;
}

.contact-icons {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border:solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--header-bg);
}

.contacts-links {
    color: var(--summary-h2-color);
    font-size: 14px;
    cursor: pointer;
}

.underline {
    border-bottom: solid 1px #cdcdcd !important;
    width: 100%;
    text-align: left;
    margin: 8px 0;
}

.contacts-bg {
    margin-left: 48px;
}

.divider {
    border-left: 4px solid var(--summary-h2-color);
    height: 70px;
}

/* add contacts modal */
.modal-outer{
    width: 100vw;
    height: 100vh;

    background:var(--contacts-modal);
    z-index: 999;

    margin:auto;
    position: absolute;
    top:0;
    left:0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-inner{
    width:1200px;
    height:500px;

    background:var(--summary-background);

    border-radius: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.flex-row-contacts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap:80px;
}

.flex-col-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--sidebar-background);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 380px;

    padding:0 24px 0 24px;
}

.flex-col-contacts-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-col-contacts-inner input{
    margin:8px 0;
    width: 380px;
}

.logo-contacts{
    width: auto;
    height: 60px;
    margin-top: 32px;
}

.heading-contacts{
    font-size: 50px;
    font-weight: 900;
    color: var(--summary-background);
    line-height: 0;
}

.subline-contacts{
    margin-top:-4px;
    font-size: 26px;
    line-height: 0;
    color:var(--summary-background);
}

.divider-hori{
    border-bottom: 4px solid var(--summary-h2-color);
    width: 70px;
}

.close-btn-contacts{
    position: absolute;
    top: 60px;
    right: 80px;

    cursor: pointer;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-btn-contacts:hover{
  background: var(--sidebar-background);
  border-radius: 20px;
  color:var(--summary-background)
}

/* infobox */
.heading-info{
    font-size: 40px;
    color:black;
    font-weight: 500;
    line-height: 0;
}

.contact-icons-info {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: var(--header-bg);
    border:solid 3px #fff;
}

.links:hover{
    color: var(--summary-h2-color);
    font-weight: 500;
    cursor: pointer;
}

.subline-info{
    font-size: 22px;
    line-height: 0;
    margin-top: 80px;
}

/* animations */
.move-to-left {
    animation: move-to-left-animation 300ms;
}
.move-to-right {
    animation: move-to-right-animation 300ms;
}

@keyframes move-to-left-animation {
    from {
        margin-right: -5000px;
    }
    to {
        margin-right: 0;
    }
}

@keyframes move-to-right-animation {
    from {
        margin-right: -5000px;
    }
    to {
        margin-right: 0;
    }
}


/*MEDIA QUERRYS*/
@media screen and (max-width: 1440px) {
    .modal-inner{
        width:95%;
        padding-right: 16px;
    }
    .close-btn-contacts{
        top:32px;
        right: 3%;
    }
    .flex-col-contacts-inner input {
        width: 80%;
    }
    .flex-col-contacts-inner{
        width: 100%;
        align-items: center;
        padding:0 16px;
        padding:0;
    }
    .flex-row-contacts{
        gap:32px;
        width: 90%;
    }
    .flex-row.media{
        gap:0;
    }
    .flex-col-contacts{
        min-width: 280px;
    }

    .heading-contacts{
        font-size: 40px;
    }
    .subline-contacts{
        font-size: 20px;
    }
    .flex-row.media{
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap:8px;
    }
    .btn-login.media{
        font-size: 16px;
        margin-right: 0;
    }
    .btn-guest.media{
        font-size: 16px;
    }
}

@media screen and (max-width: 1020px) {


}

@media screen and (max-width: 960px) {
    .media-pos{
        height:100px;
        width: 100px;
    }
}


@media screen and (max-width: 767px) {
    .media-hide.contacts {
        display: flex !important;
    }

    .media-show.contacts {
        display: none !important;
    }

    .flex-contacts{
        flex-direction: column;
        gap:0;
    }

    .contacts-section{
        width: 100%;
        padding: 0;
    }

    /*add contact modal*/
    .modal-inner{
        width: 100vw;
        height: 100%;
        border-radius: 0;
    }
    .flex-row-contacts{
        flex-direction: column;
        width: 100%;
        overflow: hidden !important;
    }
    .flex-col-contacts{
        width:100vw;
        max-height: 50vh!important;
        border-radius: 0;
        padding: 0;
    }

    .media-pos{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .btn-login.media{
        min-width: 200px;
    }
   
    .close-btn-contacts:hover{
        background-color: #fff;
        color: black;
    }

    .heading-contacts{
        font-size: 30pt;
        margin-left: 8px;
    }
    .subline-contacts{
        font-size: 14pt;
        margin-left: 8px;
    }
    .divider-hori{
        margin-left: 8px;
    }
    .media-hide.btn {
        display: flex !important;
        position: absolute;
        bottom:50px;
        right:8%;
    }
   
}

@media screen and (max-width: 570px) {

    .contacts-section{
        height: calc(100vh - 166px);
    }
    .media-hide.btn {
        bottom:100px;
    }
    .media-hide img{
        width: 48px;
        height: 48px;
    }
    .media-hide img:hover{
        width: 50px;
        height: 50px;
    }
    
    
}