#contacts {
    background-color: var(--sidebar-link-background);
}

#contacts img {
    filter: brightness(10);
}

#spanContacts {
    color: white;
    filter: brightness(10);
}

h2 {
    font-weight: 400;
}

li {
    list-style: none !important;
}

.flex-contacts {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 32px;
    overflow-x: hidden;
}

.flex-contacts-inner-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-contacts-inner-li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 4px 24px;
}

.flex-contacts-inner-li:hover {
    background: #f3f3f3;
    border-radius: 10px;
    cursor: pointer;
}

.flex-contacts-inner-li:focus {
    background: var(--sidebar-background);
    color: var(--summary-background);
    border-radius: 10px;
}

.return-contact {
    position: absolute;
    right: 35px;
    top: 125px;
    padding: 4px;
    z-index: 900;
}

#info-header {
    margin: 56px 16px 0 0;
    margin-right: 16px;
}

.contacts-section {
    background: var(--header-bg);
    min-width: 28%;
    height: calc(100vh - 100px);
    padding: 0 24px 24px 32px;
    overflow: auto !important;
    box-sizing: border-box;
}

.contacts-section button {
    min-width: 80%;
    padding: 12px 16px;
    margin: 24px auto 0 auto;
    display: inline-flex;
    justify-content: center;
    color: var(--header-bg);
    font-size: 16px;
    font-weight: 600;
    background: var(--sidebar-background);
    border-radius: 10px;
    border: none;
}

.contacts-section button:hover {
    background-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
}

.contacts-section button img {
    width: 24px;
    height: 24px;
}

.contacts-section ul {
    all: unset;
    list-style: none;
    color: black;
    font-size: 20px;
}

.contacts-section li {
    margin: 8px 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.contact-icons {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--header-bg);
}

.contact-icons.info {
    min-height: 90px;
    min-width: 90px;
    border-radius: 50%;
    border: solid 2px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-weight: 300;
    color: var(--header-bg);
}

#contacts-bg {
    margin-right: 14px;
}

.contact-h1 {
    text-decoration: underline;
    text-decoration-color: var(--summary-h2-color);
    text-underline-offset: 15px;
    text-decoration-thickness: 3px;
    padding-top: 80px;
    margin-top: 0;
    font-size: 56px;
}

.contacts-links {
    color: var(--summary-h2-color);
    font-size: 16px;
    cursor: pointer;
}

.underline {
    border-bottom: solid 1px #cdcdcd !important;
    width: 100%;
    text-align: left;
    margin: 8px 0;
}

.contacts-bg {
    margin: 64px 8px 0 32px;
    gap: 16px;
}

.divider {
    border-left: 4px solid var(--summary-h2-color);
    height: 70px;
}

.modal-outer {
    width: 100vw;
    height: 100vh;
    background: var(--contacts-modal);
    z-index: 999;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.modal-inner {
    background: var(--header-bg);
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.modal-inner.info {
    max-width: 825px !important;
}

.flex-row-contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin: 0;
    margin-top: 18px;
}

.flex-col-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--sidebar-background);
    border-radius: 20px 0 0 20px;
    height: 100%;
    min-width: 420px;
}

.flex-col-contacts-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.flex-col-contacts-inner input {
    margin: 8px 0;
    width: 380px;
}

.flex-row-modal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin: 0;
    margin-top: 0;
    height: 500px;
    width: 1200px;
    box-shadow: 0 0 1px lightgray;
}

.logo-contacts {
    width: auto;
    height: 60px;
}

.heading-contacts {
    font-size: 50px;
    font-weight: 900;
    color: var(--summary-background);
    line-height: 0;
}

.subline-contacts {
    margin-top: -4px;
    font-size: 26px;
    line-height: 0;
    color: var(--summary-background);
}

#mail-info,
#phone-info {
    margin-top: 12px;
}

.divider-hori {
    border-bottom: 4px solid var(--summary-h2-color);
    width: 70px;
}

.close-btn-contacts {
    position: absolute;
    top: 60px;
    right: 80px;

    cursor: pointer;
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 250ms;
}

.close-btn-contacts:hover {
    background: var(--sidebar-background);
    border-radius: 20px;
    color: var(--summary-background)
}

.names {
    color: black;
    font-size: 40px;
    font-weight: 400;
}

.links:hover {
    color: var(--summary-h2-color);
    font-weight: 500;
    cursor: pointer;
}

.subline-info {
    font-size: 22px;
    font-weight: 300;
    line-height: 0;
    margin: 70px 0 50px 0;
}

.dropdown-contacts-con {
    width: 120px;
    height: 110px;
    background: var(--header-bg);
    border-radius: 15px 15px 0 15px;
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.7);
    position: absolute;
    bottom: 160px;
    right: 8%;
    display: flex;
    flex-direction: column;
    color: var(--sidebar-background);
    font-weight: 600;
}

.bg-color {
    width: 100%;
    height: 55px;
}

.bg-color:hover {
    background-color: #f3f3f3;
    height: 55px;
    border-radius: 15px 15px 0 0;
}

.bg-color.snd:hover {
    background-color: #f3f3f3;
    height: 55px;
    border-radius: 0 0 0 15px;
}

.contact-bold {
    font-weight: 600;
}

.link {
    color: var(--summary-h2-color);
}

.modal-inner.modal {
    background: var(--summary-background);
    overflow: hidden;
}

.media-pos {
    color: #fff;
    font-size: 32px;
    min-height: 110px;
    min-width: 110px;
}