@media screen and (max-width: 1440px) {

    /*board*/
    .flex-flow {
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) {

    /*login area on index*/
    .login {
        width: 75%;
    }

    .login-bg {
        min-width: 80vw;
        min-height: 50vh;
    }
}

@media screen and (max-width: 767px) {

    /* general multiclasses adjustments*/
    /* sign in and login*/
    .flex-row {
        justify-content: center;
        padding: 0;
    }

    .flex-row p {
        font-size: 16px;
    }

    /*board*/
    .flex-container-board {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    }

    .flex-btw.board {
        min-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .flex-btw-board {
        min-width: 88%;
    }

    .flex-column-board {
        align-items: flex-start !important;
    }

    .tasks-card-empty {
        width: 70% !important;
    }

    .flex-start-board {
        min-width: 90%;
    }

    .media-hide.board {
        display: flex !important;
    }

    .media-show.board {
        display: none !important;
    }

    .login {
        min-width: 80% !important;
        margin: 0 0 0 32px;
    }

    .btn-board {
        position: absolute;
        top: 128px;
        right: 64px;
        padding: 0 !important;
        min-width: 44px !important;
        min-height: 40px !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .headline-board {
        margin: 64px 0 0 32px !important;
    }

    .margin-t-xl {
        margin-top: 16px;
    }
}

@media screen and (max-width: 650px) {

    /* general multiclasses adjustments*/
    /* sign in, login and start-animation*/
    h1 {
        font-size: 48px;
    }

    .bg-overlay {
        background: var(--sidebar-background) !important;
    }

    .main-logo.animated {
        content: url(../img/logo-white.svg);
    }

    .flex-row-btn {
        flex-direction: column;
        justify-content: center;
    }

    .btn-login {
        margin: 0;
        width: 200px;
    }

    .btn-guest {
        width: 200px;
    }

    .media-hide {
        display: flex !important;
    }

    .media-show {
        display: none !important;
    }

    .pos-logo img {
        height: 70px !important;
        width: auto;
    }
}

@media screen and (max-width: 400px) {

    /* general multiclasses adjustments*/
    /* sign in and login*/
    .headline-board {
        font-size: 26px;
    }

    .btn-login,
    .btn-guest {
        font-size: 16px;
        width: 140px;
    }

    .btn-login {
        padding: 14px 10px;
    }
}

/* sideboard, header, help, privacyPolicy, legalNotice */
@media screen and (max-width: 1050px) {
    .sideboard {
        width: 175px;
    }

    .content-size {
        margin: 90px 0 0 175px;
        height: calc(100vh - 90px);
        width: calc(100vw - 175px);
    }

    .header {
        width: calc(100% - 175px);
        margin-left: 175px;
        height: 90px;
    }

    .menu-nav {
        top: 90px
    }
}

@media screen and (max-width: 850px) {
    .sideboard {
        width: 150px;
    }

    .content-size {
        margin: 90px 0 0 150px;
        height: calc(100vh - 90px);
        width: calc(100vw - 150px);
    }

    .header {
        width: calc(100% - 150px);
        margin-left: 150px;
        height: 90px;
    }

    .header-right {
        margin-right: 16px;
        gap: 6px;
    }

    header h4 {
        margin-left: 4%;
        font-size: 18px;
    }

    .menu-nav {
        right: 4px;
    }

    .distance {
        padding: 16px 40px;
    }

    .return {
        top: 110px;
        right: 20px;
        background: white;
        border-radius: 50%;
        padding: 6px 6px 4px 6px;
    }
}


@media screen and (max-width: 570px) {
    .sideboard {
        display: none;
    }

    .sideboard-bottom {
        display: initial;
    }

    .content-size {
        margin: 80px 0;
        width: 100vw;
        height: calc(100vh - 160px);
    }

    .header {
        margin: 0;
        width: 100vw;
        height: 80px;
    }

    .menu-nav {
        top: 80px;
    }

    header h4 {
        font-size: 16px;
        margin-right: 16px;
    }

    .header-right span {
        font-size: 16px;
    }

    .distance {
        padding: 16px 20px 95px 20px;
    }

    .header-logo {
        display: initial;
        margin-left: 16px;
    }

    .add-task {
        width: 100% !important;
    }

    .privacy h1,
    .legal h1,
    .help h1 {
        line-height: normal;
        margin-top: 14px;
        margin-right: 42px;
        margin: 10px 42px 48px 0;
    }
}

@media screen and (max-width: 360px) {
    .sideboard-bottom a {
        padding: 7px 0;
    }
}