/* general styling */
body {
    margin: 0;
    color: black;
    background-color: var(--summary-background);
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 56px;
    line-height: 0;
}

h2 {
    font-size: 28px;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* input and textarea */
input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

input[type="date"] {
    cursor: pointer;
}

input[type="date" i]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 6px;
}

input[type="date" i]::-webkit-calendar-picker-indicator:hover {
    background-color: rgb(227, 230, 235);
    cursor: pointer;
    border-radius: 50%;
}

input::-webkit-datetime-edit {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

/* multi classes */
.hide {
    display: none !important;
}

.media-hide {
    display: none !important;
}

.show {
    display: block !important;
}

.opacity {
    opacity: 1 !important;
}

.media-show {
    display: flex !important;
}

.media-show.board {
    display: block !important;
}

.media-show-icons {
    display: block;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.z-index {
    z-index: 999;
}

.overflow {
    overflow-y: auto !important;
}

.pointer {
    cursor: pointer;
}

.link-decoration:hover {
    text-decoration: underline var(--link-color);
    cursor: pointer;
}

.margin-zero {
    margin: 0 !important;
}

.margin-t {
    margin-top: 32px;
}

.margin-b-16 {
    margin-bottom: 16px;
}

.margin-b {
    margin-bottom: 32px;
}

.margin-t-xl {
    margin-top: 80px;
}

.margin-l {
    margin-left: 48px;
}

.margin-l-32 {
    margin-left: 32px;
}

.margin-l-s {
    margin-left: 16px;
}

.margin-left-neg {
    margin-left: -8px;
}

.padding-b {
    padding: 72px;
}

.padding {
    padding: 16px;
}

.gap {
    gap: 16px !important;
}

.gap-32 {
    gap: 32px;
}

.gap-s {
    gap: 8px !important;
}

.upper-text {
    text-transform: capitalize;
}

.cap-text {
    text-transform: uppercase;
}

.lower-text {
    text-transform: lowercase;
}

.content-size {
    margin: 100px 0 0 220px;
    height: calc(100vh - 100px);
    width: calc(100vw - 220px);
}

.display-none {
    display: none !important;
}

.filter-invert {
    filter: invert(1);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-flex {
    display: flex;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-start {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.flex-column-start-edit {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.height {
    height: 100vh;
}

.width {
    width: 100%;
}

.display-line {
    display: inline;
}

/* classes */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.pos-logo {
    position: absolute;
    top: 32px;
    left: 64px;
}

.pos-logo img {
    height: 100px;
    width: auto;
}

/* buttons */
.btn-login {
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: var(--header-bg);
    font-size: 20px;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-login:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.btn-login.edits {
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: var(--header-bg);
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 0;
}

.btn-login.edits:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.btn-guest {
    background-color: var(--header-bg);
    color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-guest:hover {
    border: solid 1px var(--summary-h2-color);
    color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.btn-guest:hover span {
    background: url(../img/cross-blue.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: calc(100% - 16px) 50%;
    padding-left: 48px;
}

/* info pages */
.distance {
    padding: 32px 110px 16px 110px;
}

.help h2 {
    margin-right: 2rem;
}

.help h3 {
    margin-bottom: 0;
}

.help span,
.legal span {
    font-size: 18px;
    color: var(--summary-h2-color);
}

.privacy h1,
.legal h1,
.help h1 {
    margin-bottom: 72px;
}

.legal h2 {
    margin-bottom: 0;
}

.legal p {
    margin-top: 0;
}

.pos-bottom {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    width: 100%;
}

.pos-bottom p,
.pos-bottom a {
    color: var(--link-color);
}

.pos-bottom p:hover,
.pos-bottom a:hover {
    font-weight: 700;
    color: var(--summary-h2-color);
    cursor: pointer;
}

.return {
    position: fixed;
    right: 55px;
    top: 150px;
    padding: 4px;
}

.return:hover {
    background-color: rgb(227, 230, 235);
    transform: scale(1.2);
    border-radius: 50%;
}