/* GENEREL STYLING */
body {
    margin: 0;
    color: black;
    background-color: var(--summary-background);
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

h1 {
    font-size: 56px;
    line-height: 0;
}

h2 {
    font-size: 28px;
}

a {
    all: unset;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/*input, textarea {
    border: unset !important;
}*/

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

input[type="date"] {
    cursor: pointer;
}

input[type="date" i]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding: 6px;
}

input[type="date" i]::-webkit-calendar-picker-indicator:hover {
    background-color: rgb(227, 230, 235);
    cursor: pointer;
    border-radius: 50%;
}

input::-webkit-datetime-edit {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

/* MULTI CLASSES */
.hide {
    display: none !important;
}

.media-hide {
    display: none !important;
}

.show {
    display: block !important;
}

.opacity {
    opacity: 1 !important;
}

.media-show {
    display: flex !important;
}

.media-show.board {
    display: block !important;
}

.media-show-icons {
    display: block;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.z-index {
    z-index: 999;
}

.overflow{
    overflow-y: auto !important;
}

.pointer{
    cursor: pointer;
}

.link-decoration:hover {
    text-decoration: underline var(--link-color);
    cursor: pointer;
}

.margin-zero {
    margin: 0 !important;
}

.margin-t {
    margin-top: 32px;
}

.margin-b-16 {
    margin-bottom: 16px;
}

.margin-b {
    margin-bottom: 32px;
}

.margin-t-xl {
    margin-top: 80px;
}

.margin-l {
    margin-left: 48px;
}

.margin-l-32 {
    margin-left: 32px;
}

.margin-l-s {
    margin-left: 16px;
}

.margin-left-neg {
    margin-left: -8px;
}

.padding-b {
    padding: 72px;
}

.padding {
    padding: 16px;
}

.gap {
    gap: 16px !important;
}

.gap-32 {
    gap: 32px;
}

.gap-s {
    gap: 8px !important;
}

.upper-text{
    text-transform: capitalize;
}
.cap-text{
    text-transform: uppercase;
}
.lower-text{
    text-transform: lowercase;
}

.content-size {
    margin: 100px 0 0 220px;
    height: calc(100vh - 100px);
    width: calc(100vw - 220px);
}

.display-none {
    display: none !important;
}

.filter-invert {
    filter: invert(1);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-btw {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-flex {
    display: flex;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-start {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.flex-column-start-edit {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.height {
    height: 100vh;
}

.width {
    width: 100%;
}

.display-line {
    display: inline;
}

/* CLASSES */
/* Logo */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.pos-logo {
    position: absolute;
    top: 32px;
    left: 64px;
}

.pos-logo img {
    height: 100px;
    width: auto;
}

/* Login */
.hrLog {
    border: none;
    height: 3px;
    width: 75%;
    background-color: var(--summary-h2-color);
    border-radius: 30px;
}

.login-bg {
    min-width: 40vw;
    min-height: 50vh;
    background-color: var(--header-bg);
    gap: 30px;
    border-radius: 32px;
    box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.1);
    padding: 24px 16px;
}

.login-p {
    font-size: 20px !important;
    color: black !important;
}

.login-bg form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.login {
    padding: 10px 12px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 50%;
    height: 24px;
}

.flex-row-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.icon-mail {
    background: url(../img/mail.svg);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: calc(100% - 16px) 50%;
}

.icon-lock {
    background: url(../img/lock.svg);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: calc(100% - 16px) 50%;
}

.icon-call {
    background: url(../img/call.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: calc(100% - 16px) 50%;
}

.icon-person {
    background: url(../img/person.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 16px) 50%;
}

.icon-cross {
    background: url(../img/cross.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: calc(100% - 10px) 50%;
    padding-left: 48px;
}

.icon-check-new {
    background: url(../img/check-new.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 10px) 50%;
    padding-left: 40px;
}

.icon-search {
    background: url(../img/search.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 16px) 50%;
    padding-left: 48px;
}

.icon-plus {
    background: url(../img/plus.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 16px) 50%;
    padding-left: 48px;
}

.icon-edit {
    background: url(../img/edit.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 24px;
    width: 24px;
    padding-left: 24px;
}

.icon-edit:hover {
    background: url(../img/edit-link.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 24px;
    width: 24px;
}

.icon-edit.text:hover {
    cursor: pointer;
    background: url(../img/edit.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 24px;
    width: 24px;
    padding-left: 24px;
}

.icon-delete {
    background: url(../img/delete.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 24px;
    width: 24px;
    padding-left: 24px;
}

.icon-delete:hover {
    background: url(../img/delete-link.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 24px;
    width: 24px;
}

.icon-delete.text:hover {
    cursor: pointer;
    background: url(../img/delete.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 24px;
    width: 24px;
    padding-left: 24px;
}


.login::placeholder {
    color: var(--link-color);
    font-size: 16px;
}

.notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.notice span {
    color: red;
    font-size: 12px;
}

.success-container {
    position: absolute;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.success {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: var(--sidebar-background);
    padding: 24px;
    color: white;
    font-size: 24px;
    border-radius: 28px;
}

/* Checkbox */
.container-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    position: relative;
    height: 32px;
    width: 50%;
}

.container-checkbox-sign-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    height: 32px;
    width: 100%;
}

.icon-checkbox {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url(../img/uncheck.svg);
}

.icon-checkbox-active {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url(../img/check.svg);
}

/* Buttons */
.btn-login {
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: var(--header-bg);
    font-size: 20px;
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-login:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.btn-login.edits {
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: var(--header-bg);
    font-size: 20px;
    padding: 14px 12px;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 0;
}

.btn-login.edits:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.btn-guest {
    background-color: var(--header-bg);
    color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: 600;
}

.btn-guest:hover {
    border: solid 1px var(--summary-h2-color);
    color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.btn-guest:hover span {
    background: url(../img/cross-blue.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: calc(100% - 16px) 50%;
    padding-left: 48px;
}

/* Sign up */
.flex-row p {
    font-size: 21px;
}

.pos-sign-up {
    position: absolute;
    top: 40px;
    right: 64px;
}

.btn-sign-up {
    all: unset;
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: var(--header-bg);
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: 500;
    height: 32px;
}

.btn-sign-up:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
    transition: all 250ms;
}

.back-to-index {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-to-index:hover {
    border-radius: 20px;
    background: #f3f3f3;
}

/* sites */
.distance {
    padding: 32px 110px 16px 110px;
}

.help,
.privacy,
.legal {
    /* overflow-y: scroll; */
}

.help h2 {
    margin-right: 2rem;
}

.help h3 {
    margin-bottom: 0;
}

.help span,
.legal span {
    font-size: 18px;
    color: var(--summary-h2-color);
}

.privacy h1,
.legal h1,
.help h1 {
    margin-bottom: 72px;
}

.legal h2 {
    margin-bottom: 0;
}

.legal p {
    margin-top: 0;
}

.pos-bottom {
    display: flex;
    justify-content: center;
    gap: 32px;
    position: absolute;
    bottom: 32px;
    width: 100%;
}

.pos-bottom p,
.pos-bottom a {
    color: var(--link-color);
}

.pos-bottom p:hover,
.pos-bottom a:hover {
    font-weight: 700;
    color: var(--summary-h2-color);
    cursor: pointer;
}

.return {
    position: fixed;
    right: 55px;
    top: 150px;
    padding: 4px;
}

.return:hover {
    background-color: rgb(227, 230, 235);
    transform: scale(1.2);
    border-radius: 50%;
}

/* Sideboard */
.sideboard {
    width: 220px;
    height: 100vh;
    background-color: var(--sidebar-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 300;
}

.sideboard-logo {
    width: auto;
    height: 100px;
    margin-top: 58px;
}

.sideboard-icon {
    width: 24px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-top: 110px;
    width: 100%;
}

.icon-container span {
    font-size: 16px;
    color: var(--sidebar-color);
    font-weight: 300;
    width: 69px;
}

.sideboard-space {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.info-links {
    gap: 20px;
    margin-bottom: 58px;
    width: 100%;
    text-align: center;
}

.info-links a {
    width: 100%;
    padding: 8px 0;
    text-decoration: none;
    color: var(--link-color);
    font-size: 15px;
    font-weight: 300;
}

.info-links a:hover {
    color: var(--summary-h2-color);
    font-weight: 500;
}

.icon-center {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
}

.icon-center:hover {
    cursor: pointer;
    background-color: rgb(46, 61, 87)
}

/* Header */
.header {
    height: 100px;
    width: calc(100% - 220px);
    background-color: var(--header-bg);
    box-shadow: 0px 4px 4px rgb(223, 223, 224);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 220px;
    z-index: 200;
}

header h4 {
    font-size: 19px;
    font-weight: 400;
    margin-left: 10%;
}

.header-logo {
    width: 32px;
    margin-left: 24px;
    display: none;
}

.header-right {
    display: flex;
    align-items: center;
    margin-right: 48px;
    gap: 16px;
}

.header-right span {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 500;
    border: 3px solid black;
    border-radius: 50%;
    padding: 10px;
    color:#fff;
}

.header-right span:hover {
    cursor: pointer;
    background-color: rgb(227, 230, 235);
}

.header-right img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.menu-nav {
    justify-content: space-evenly;
    position: absolute;
    right: 25px;
    top: 100px;
    width: 145px;
    height: 155px;
    background-color: rgb(44, 54, 70);
    border-radius: 20px 0 20px 20px;
    z-index: 999;
}

.menu-nav a {
    text-decoration: none;
    width: 90%;
    color: var(--sidebar-color);
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 0;
}

.menu-nav a:hover {
    background-color: rgb(46, 61, 87);
}

.pos-bot {
    position: absolute;
    bottom: 0;
}

.divider-hori.signUp {
    width: 70%;
}

/* footer */
.sideboard-bottom {
    display: none;
    height: 80px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: var(--sidebar-background);
}

.sideboard-bottom nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.sideboard-bottom a {
    flex-direction: column;
    width: 75px !important;
    height: 55px !important;
    border-radius: 10px;
    padding: 7px 5px;
}

.sideboard-bottom img {
    width: 24px;
    height: 24px;
}

.sideboard-bottom span {
    font-size: 16px !important;
    font-weight: 300;
    color: var(--sidebar-color) !important;
}


/*MEDIA QUERRYS*/
@media screen and (max-width: 1200px) {

    /*login area on index*/
    .login {
        width: 75%;
    }

    .container-checkbox {
        width: 70%;
    }

    .login-bg {
        width: 470px;
        min-height: 50vh;
    }

    .pos-logo img {
        height: 70px !important;
        width: auto;
    }
}

@media screen and (max-width: 767px) {

    /* general multiclasses adjustments*/
    /* sign in and login*/
    .flex-row {
        justify-content: center;
        padding: 0;
    }

    .flex-row p {
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {

    /* general multiclasses adjustments*/
    /* sign in, login and start-animation*/
    h1 {
        font-size: 48px;
    }

    .bg-overlay {
        background: var(--sidebar-background) !important;
    }

    .main-logo.animated {
        content: url(../img/logo-white.svg);
    }

    .flex-row-btn {
        flex-direction: column;
        justify-content: center;
    }

    .pos-bottom {
        bottom: 8px;
        gap: 20px;
    }

    .bottom-distance {
        bottom: 28px !important;
    }

    .login-bg {
        width: 80vw
    }

    .btn-login {
        margin: 0;
        width: 200px;
    }

    .btn-guest {
        width: 200px;
    }

    .media-hide {
        display: flex !important;
    }

    .media-show {
        display: none !important;
    }
}

@media screen and (max-width: 400px) {

    /* general multiclasses adjustments*/
    /* sign in and login*/
    .headline-board {
        font-size: 26px;
    }

    .back-to-index {
        left: 7px;
        top: 17px;
    }

    .login {
        width: 85%;
    }

    .btn-login,
    .btn-guest {
        font-size: 16px;
        width: 140px;
    }

    .btn-login {
        padding: 14px 10px;
    }
}

/* sideboard, header, help, privacyPolicy, legalNotice */
@media screen and (max-width: 1050px) {
    .sideboard {
        width: 175px;
    }

    .content-size {
        margin: 90px 0 0 175px;
        height: calc(100vh - 90px);
        width: calc(100vw - 175px);
    }

    .header {
        width: calc(100% - 175px);
        margin-left: 175px;
        height: 90px;
    }

    .menu-nav {
        top: 90px
    }
}

@media screen and (max-width: 850px) {
    .sideboard {
        width: 150px;
    }

    .content-size {
        margin: 90px 0 0 150px;
        height: calc(100vh - 90px);
        width: calc(100vw - 150px);
    }

    .header {
        width: calc(100% - 150px);
        margin-left: 150px;
        height: 90px;
    }

    .header-right {
        margin-right: 16px;
        gap: 6px;
    }

    header h4 {
        margin-left: 4%;
        font-size: 18px;
    }

    .menu-nav {
        right: 4px;
    }

    .distance {
        padding: 16px 40px;
    }

    .return {
        top: 110px;
        right: 20px;
        background: white;
        border-radius: 50%;
        padding: 6px 6px 4px 6px;
    }
}

@media screen and (max-width: 570px) {
    .sideboard {
        display: none;
    }

    .sideboard-bottom {
        display: initial;
    }

    .content-size {
        margin: 80px 0;
        width: 100vw;
        height: calc(100vh - 160px);
    }

    .header {
        margin: 0;
        width: 100vw;
        height: 80px;
    }

    .menu-nav {
        top: 80px;
    }

    header h4 {
        font-size: 16px;
        margin-right: 16px;
    }

    .header-right span {
        width: 20px;
        font-size: 18px;
    }

    .distance {
        padding: 16px 20px 95px 20px;
    }

    .header-logo {
        display: initial;
        margin-left: 16px;
    }

    .add-task {
        width: 100% !important;
    }

    .privacy h1,
    .legal h1,
    .help h1 {
        line-height: normal;
        margin-top: 14px;
        margin-right: 42px;
        margin: 10px 42px 48px 0;
    }
}

@media screen and (max-width: 360px) {
    .sideboard-bottom a {
        padding: 7px 0;
    }
}