/*###############################
###
###     JOIN APP 
###     version 1.0.0
###     author: unsere Namen
###
#################################*/
/*###############################
###
###     GENERAL STYLING
###
###     MULTI CLASSES
###
###     CLASSES
###
#################################*/


/**********************************
*** GENEREL STYLING *** START
***********************************/
body {
    margin: 0;
    color: black;
    background-color: var(--summary-background);
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
}

h1 {
    font-size: 64px;
    margin: 0 0 16px 0;
}

hr {
    border: none;
    height: 3px;
    width: 75%;
    background-color: var(--summary-h2-color);
    border-radius: 30px;
}

/**********************************
*** GENEREL STYLING *** END
***********************************/


/**********************************
*** MULTI CLASSES *** START
***********************************/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-column {
    flex-direction: column;
}

.height {
    height: 100vh;
}

.span-color {
    color: var(--summary-h2-color);
}

.display-line {
    display: inline;
}
.padding {
    padding: 16px;
}
/**********************************
*** MULTI CLASSES *** END
***********************************/

/**********************************
*** CLASSES *** START
***********************************/

/*Logo*/
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 32px;
}

.pos-logo {
    position: absolute;
    top: 32px;
    left: 64px;
}

.pos-logo img {
    height: 100px;
    width: auto;
}

/*Login*/
.login-bg {
    min-width: 40vw;
    min-height: 50vh;
    background-color: white;
    gap: 30px;
    border-radius: 32px;
    box-shadow: 0px 0px 15px rgba(119, 119, 119, 0.1);
    padding: 16px;
}

.login {
    padding: 10px 12px;
    border: 1px solid lightgray;
    border-radius: 8px;
    width: 50%;
    height: 24px;
}

.flex-row-btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.icon-mail {
    background: url(../img/mail.svg);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: calc(100% - 16px) 50%;
}

.icon-lock {
    background: url(../img/lock.svg);
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: calc(100% - 16px) 50%;
}

.login::placeholder {
    color: #a8a8a8;
    font-size: 16px;
}

/*Checkbox*/
.container-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    position: relative;
    height: 32px;
    width: 45%;
}

.icon-checkbox {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url(../img/uncheck.svg);
}

.icon-checkbox-active {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: url(../img/check.svg);
}

/*Buttons*/
.btn-login {
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    margin-right: 24px;
}

.btn-login:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
}

.btn-guest {
    background-color: white;
    color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
}

.btn-guest:hover {
    border: solid 1px var(--summary-h2-color);
    color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
}

/*Sign up*/
.flex-row p {
    font-size: 21px;
}

.pos-sign-up {
    position: absolute;
    top: 40px;
    right: 64px;
}

.btn-sign-up {
    all: unset;
    background-color: var(--sidebar-background);
    border: 1px solid var(--sidebar-background);
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
    height: 32px;
}

.btn-sign-up:hover {
    background-color: var(--summary-h2-color);
    border-color: var(--summary-h2-color);
    box-shadow: 0 3px 5px rgba(119, 119, 119, 0.9);
}

/*Legals*/
.pos-bottom {
    display: flex;
    justify-content: center;
    gap: 32px;
    position: absolute;
    bottom: 32px;
    width: 100%;
}

.pos-bottom p {
    color: var(--link-color);
}

.pos-bottom p:hover {
    font-weight: 700;
    color: var(--summary-h2-color);
}

/*sideboard*/
.sideboard {
    width: 13%;
    height: 100vh;
    background-color: var(--sidebar-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 58px;
}

.sideboard a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 15px;
    font-weight: 300;
}

.sideboard a:hover {
    color: var(--summary-h2-color);
    font-weight: 500;
}

.sideboard-logo {
    width: auto;
    height: 100px;
}

.sideboard-icon {
    width: 24px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-top: 110px;
    width: 100%;
}

.icon-container span {
    font-size: 16px;
    color: #cdcdcd;
    font-weight: 300;
    width: 69px;
}

.sideboard-space {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 76%;
    width: 100%;
}

.gap-links {
    gap: 20px;
}

.icon-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
}

.icon-center:hover {
    cursor: pointer;
    background-color: rgb(46, 61, 87)
}

/*header*/
.header-sideboard {
    display: flex;
}

.header {
    height: 15vh;
    flex: 1;
    background-color: purple;
}

/*  */
.section-position {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

/**********************************
*** CLASSES *** END
***********************************/