#summary {
    background-color: var(--sidebar-link-background);
}

#summary img {
    filter: brightness(10);
}

#spanSummary {
    color: white !important;
    filter: brightness(10);
}

h4 {
    line-height: 1;
    margin: 0;
}

p {
    all: unset;
}

.distance-summary {
    padding: 16px 30px 16px 70px;
}

.section-position {
    display: flex;
    flex-direction: column;
    min-width: 16%;
    align-items: center;
    margin-top: 7%;
}

.summary-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8%;
    flex-wrap: wrap;
    flex: 1 0 50%;
    width: 100%;
}

.summary-section span {
    font-size: 18px;
}

.summary-section h3 {
    font-size: 24px;
    margin: 0 0 12px 0;
}

.summary-h2 {
    font-weight: 400;
}

.welcome h2 {
    font-size: 38px;
    font-weight: 400;
    color: var(--sidebar-background);
    margin: 0;
}

.summary-flex-row {
    gap: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.summary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #ffff;
    border-radius: 20px;
    padding: 8px;
    width: 46.5%;
    height: 150px;
    margin-bottom: 12px;
    box-shadow: 0 0 5px lightgray;
}

.medium-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border-radius: 20px;
    padding: 14px;
    height: 140px;
    margin-bottom: 12px;
    box-shadow: 0 0 5px lightgray;
}

.medium-container img {
    height: 68px;
    width: 68px;
}

.medium-container .flex-start {
    gap: 16px;
}

.summary-container img {
    height: 48px;
    width: 100%;
}

#summary-pencil,
#summary-checkmark {
    height: 68px;
    width: 68px;
    background-repeat: no-repeat;
    background-size: contain;
}

.summary-pencil {
    background-image: url(../img/pencil-sum.svg);
}

.summary-checkmark {
    background-image: url(../img/ckeckbox-round.svg);
}

#summary-pencil:hover,
.summary-container:hover #summary-pencil {
    background-image: url(../img/pencil-sum-hover.svg);
    transition: all 250ms;
}

#summary-checkmark:hover,
.summary-container:hover #summary-checkmark {
    background-image: url(../img/ckeckbox-round-hover.svg);
    transition: all 250ms;
}

.summary-container:hover,
.medium-container:hover {
    background-color: var(--sidebar-background);
    color: #ffff;
    box-shadow: 0 3px 5px var(--sidebar-background);
    transition: all 250ms;
    cursor: pointer;
    transform: scale(1.1);
}

.summary-container:hover .counts-sum,
.medium-container:hover .counts-sum {
    color: #ffff;
}

.summary-text {
    text-align: center;
}

.summary-text h4 {
    text-align: left;
}

.greetings-summary {
    margin-left: 500px;

}

.margin-left-summary {

    margin-top: 10%;
}

.vertical-line {
    height: 80px;
    width: 1px;
    background-color: var(--link-color);
    margin: 0 24px;
}

.counts-sum {
    font-size: 56px;
    color: black;
}

.blue-line {
    border-left: 4px solid var(--summary-h2-color);
    height: 70px;
}

.flex-row-sum {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.name {
    color: var(--summary-h2-color);
    margin: 0;
    font-size: 46px;
    line-height: normal;
}

.welcome {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


/* media querrys*/
@media screen and (max-width: 1450px) {
    .summary-container {
        width: 45.5%;
    }
}

@media screen and (max-width: 1170px) {
    .distance-summary {
        padding: 0px 40px 16px 40px;
    }

    .summary-container {
        width: 44.5%;
    }

    .welcome h2 {
        font-size: 30px;
    }

    .name {
        font-size: 38px;
    }
}

@media screen and (max-width: 1000px) {
    .welcome h2 {
        font-size: 32px;
    }

    .welcome {
        width: auto;
    }
}

@media screen and (max-width: 920px) {
    #summary-responsive {
        flex-direction: column-reverse;
        margin: 0;
    }

    .welcome {
        flex-direction: row;
        align-items: center;
        margin: 38px 0 26px 0;
        gap: 6px;
    }

    .summary-section {
        margin-right: 0;
        align-content: center;
    }

    .name {
        margin: 0;
        font-size: 30px;
    }

    .distance-summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 35px 16px 35px;
        ;
    }

    .blue-line {
        display: none;
    }

    .summary-h2 {
        font-size: 24px;
    }

    #responsive-headline {
        border-bottom: 4px solid var(--summary-h2-color);
        margin-top: 10px;
    }

    .welcome h2 {
        font-size: 24px;
    }
}

@media screen and (max-width: 740px) {
    #responsive-headline {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 0;
    }

    .summary-h2 {
        margin: 0 0 12px 0;
        font-size: 22px;
    }

    .welcome h2 {
        font-size: 22px;
    }

    .name {
        font-size: 26px;
    }

    .summary-flex-row {
        width: 100%;
    }

    #responsive-headline h1 {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 570px) {
    .summary-container,
    .medium-container {
        height: 100px;
    }
}

@media screen and (max-width: 420px) {
    #summary-pencil,
    #summary-checkmark,
    .medium-container img {
        width: 56px;
        height: 56px;
    }

    .counts-sum {
        font-size: 40px;
    }

    .summary-container {
        padding: 0 5px;
    }

    .medium-container {
        padding: 8px;
    }

    .summary-section h3 {
        font-size: 18px;
    }

    .summary-section span {
        font-size: 16px;
    }

    .welcome {
        flex-direction: column;
        margin: 18px 0 40px 0;
        gap: 2px;
    }
}