@media screen and (max-width: 1440px) {
    .flex-flow {
        flex-direction: column;
    }

    .task-container-card {
        width: 45%;
    }

    .add-task-modal-inner-edit {
        width: 45%;
    }

    .task-pop-heading {
        font-size: 48px;
    }
}

@media screen and (max-width: 1020px) {
    .add-task h1 {
        font-size: 52px;
    }

    .task-container-card {
        width: 60%;
    }

    .add-task-modal-inner-edit {
        width: 60%;
    }
}

@media screen and (max-width: 960px) {
    input#search-board {
        min-width: 170px !important;
        margin-left: 16px;
    }

    .headline-board {
        font-size: 48px;
    }
}

@media screen and (max-width: 780px) {
    .flex-container-board {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        margin: 24px 32px 0 32px;
        padding-bottom: 40px;
    }

    .flex-btw.board {
        min-width: 100%;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }


    .task-container-card {
        width: 70%;
    }

    .add-task-modal-inner-edit {
        width: 70%;
    }

    .flex-btw-board {
        min-width: 98%;
    }

    .flex-column-board {
        align-items: flex-start !important;
    }

    #toDo,
    #done,
    #feedback,
    #inProgress {
        flex-direction: row;
        gap: 18px;
        align-items: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        padding: 5px 0 0 5px;
    }

    .media-hide-plus {
        display: flex;
    }

    .flex-start-board {
        min-width: 90%;
    }

    .media-hide.board {
        display: flex !important;
    }

    .media-show.board {
        display: none !important;
    }

    .login {
        width: 80% !important;
        margin: 0 0 0 32px;
    }

    .btn-board {
        position: absolute;
        top: 134px;
        right: 30px;
        padding: 0 !important;
        min-width: 44px !important;
        min-height: 40px !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .headline-board {
        margin: 64px 0 0 32px !important;
    }

    .margin-t-xl {
        margin-top: 16px;
    }

    input#search-board {
        margin-left: 32px;
    }

    .task-pop-heading {
        font-size: 30pt;
    }

    .add-task-modal-inner {
        width: 90%;
        height: 90%;
    }
}

@media screen and (max-width: 570px) {
    .flex-container-board {
        padding-bottom: 110px;
    }

    .add-task h1 {
        font-size: 48px;
    }

    .task-container-card {
        padding: 24px 24px 64px 24px;
        width: 85%;
    }

    .add-task-modal-inner-edit {
        width: 85%;
        padding: 0 16px;
    }

    .pop-task-description {
        font-size: 18px;
    }

    .task-pop-heading {
        font-size: 36px;
    }

    .close-task-pop.pos {
        top: 24px;
        right: 24px;
    }

    .close-task-pop {
        right: 24px;
        top: 24px;
    }
}

@media screen and (max-width: 400px) {
    .task-pop-heading {
        font-size: 26pt;
    }

    .btn-board {
        top: 120px !important;
        right: 32px;
    }

    .flex-btw-board {
        width: 230px;
    }

    .flex-container-board {
        margin: 24px 12px 0 12px;
    }

    .add-task-modal-inner {
        width: 100%;
        border-radius: 0;
        height: 100vh;
        overflow-y: auto;
    }

    .close-task-pop.pos {
        top: 24px;
        right: 10px;
    }

    .task-container-card {
        width: 95%;
        padding: 16px 10px 32px 10px;
    }

    .add-task-modal-inner-edit {
        width: 95%;
    }

    .close-task-pop {
        top: 16px;
        right: 16px;
    }
}