<div class="modal-outer">
    <div id="modal-inner" class="modal-inner flex-row-contacts move-to-left">
        <div class="flex-col-contacts">
            <div>
                <img class="logo-contacts media-show" src="img/logo-white.svg" />
                <p id="heading-contacts-modal" class="heading-contacts">Add contact</p>
                <p id="subline-contact-modal" class="subline-contacts">Tasks are better with a team!</p>
                <div class="divider-hori"></div>
            </div>
        </div>
        <div class="flex-row-contacts margin-t-xl">
            <div id="profile-contacts" class="media-pos"></div>
            <div class="flex-col-contacts-inner">
                <div onclick="closeModal('contacts-modal','modal-inner'), wait('edit-btn')" class="close-btn-contacts">X</div>

                <form class="flex-col-contacts-inner" onsubmit="createContact(); return false;">
                    <input id="contacts-name"  required type="text"  placeholder="Name"  class="login icon-person" minlength="3">
                    <input id="contacts-mail"  required type="email" placeholder="Email" class="login icon-mail">
                    <input id="contacts-phone" required type="text"  placeholder="Phone" class="login icon-call" pattern="[0-9+ ]*">
                    <div id="add-btn" class="margin-t flex-row media">
                        <button type="button" id="cancel-btn" class="btn-guest media show contacts" onclick="closeAndClearModal(), closeModal('contacts-modal','modal-inner')">Cancel<span class="icon-cross"></span></button>
                        <button type="submit" id="create-btn" class="btn-login media">Create Contact<span class="icon-check-new"></span></button>
                    </div>
                    <div id="edit-btn" class="margin-t flex-row media modal">
                        <button type="button" class="btn-guest media show contacts" onclick="closeAndClearModal()">Delete</button>
                        <button type="submit" class="btn-login media">Save<span class="icon-check-new"></span></button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
