<div id="task-pop-up" class="task-container-card move-to-left-pop">
    <div class="task-pop-category blue">User Story</div>
    <div onclick="closeModal('task-info-modal','task-pop-up')" class="close-task-pop">X</div>
    <div class="task-pop-heading">Kochwelt Page & Recipe Recommender</div>
    <div class="pop-task-description">Build start page with recipe recommendation.</div>

    <div class="flex-btw-pop pop-task-description margin-t">
        <div class="info-col">Due date:</div>
        <div>10/05/2023</div>
    </div>
    <div class="flex-btw-pop pop-task-description">
        <div class="info-col">Priority:</div>
        <div>Medium<img class="prio-pop" src="img/prioMedium.svg" /></div>
    </div>

    <div class="pop-task-description info-col margin-t">Assigned To:</div>
    <div class="flex-start margin-l">
        <div class="contact-icons-task orange">AM</div>
        <div class="pop-task-description margin-l-s">Anton Mayer</div>
    </div>
    <div class="flex-start margin-l">
        <div class="contact-icons-task blue">AS</div>
        <div class="pop-task-description margin-l-s">Anja Schulz</div>
    </div>
    <div class="flex-start margin-l">
        <div class="contact-icons-task pink">DE</div>
        <div class="pop-task-description margin-l-s">David Eisenberg</div>
    </div>

    <div class="pop-task-description info-col margin-t">Subtask:</div>
    <div class="flex-start pop-task-description">
        <img class="margin-l" src="img/check.svg" />
        <div class="margin-l-s subtask">Implement Recipe recommendation</div>
    </div>
    <div class="flex-start pop-task-description">
        <img class="margin-l" src="img/uncheck.svg" />
        <div class="margin-l-s subtask">Start Page Layout</div>
    </div>

    <div class="position-end">
        <div class="flex-start gap-s links link-pop-del"><img src="img/delete.svg" />
            <div class="subtask">Delete</div>
        </div>
        <div class="divider-pop"></div>
        <div class="flex-start gap-s links link-pop-edit"><img src="img/edit.svg" />
            <div class="subtask">Edit</div>
        </div>
    </div>
</div>