<div id="task-pop-up" class="task-container-card move-to-left-pop">
    <div id="sorting" class="task-pop-category">Insert category</div>
    <div id="closeX"></div>
    <div id="title-task" class="task-pop-heading margin-b-16">Insert title</div>
    <div id="description-task" class="pop-task-description margin-b-16">Insert description</div>

    <div class="flex-btw-pop pop-task-description margin-t">
        <div class="info-col">Due date:</div>
        <div id="date-task">Insert date</div>
    </div>
    <div class="flex-btw-pop pop-task-description">
        <div class="info-col">Priority:</div>
        <div id="prio-task">Insert prio status<img class="prio-pop" src="img/prioMedium.svg" /></div>
    </div>

    <div class="pop-task-description info-col margin-t margin-b-16">Assigned To:</div>
    <div class="flex-start margin-l">
        <div id="task-employees">Insert Empleyoees with color classes</div>
    </div>

    <div class="pop-task-description info-col margin-t margin-b-16">Subtask:</div>
    <div class="flex-start pop-task-description">
        <div id="task-subtask" class="margin-l-s subtask">Insert subtasks</div>
    </div>
    <div class="position-end">
        <div id="tasks-delete-btn" class="flex-start gap-s links link-pop-del"></div>
        <div class="divider-pop"></div>
        <div id="task-edit-btn" class="flex-start gap-s links link-pop-edit"></div>
    </div>
</div>