<div id="infobox-outer" class="margin-t">
    <a class="return modal" href="../contacts.html"><img src="img/arrow.svg" alt="blue-arrow"></a>
    <div id="modal-inner-info" class="modal-inner modal move-to-left">
        <div class="flex-column-start">
            <div id="contacts-bg" class="margin-t">
                <h1>Contacts</h1><h2>Better with a team</h2>
                <div class="divider-hori modal"></div>
            </div>
            <div class="flex-row margin-t">
                <div class="contact-icons modal orange">AM</div>
                <div class="names">Anton Mayer</div>
            </div>
            <div>
                <div class="margin-t subline-info">Contact information</div>
                <div class="margin-t ">Email</div>
                <div class="margin-t">antom@gmail.com</div>
                <div class="margin-t">Phone</div>
                <div class="margin-t">+49 1111 111 11 1</div>
            </div>
        </div>
    </div>
</div>