<div id="infobox-outer">
    <a class="return-contact modal" href="../contacts.html"><img src="img/arrow.svg" alt="blue-arrow"></a>
    <div id="modal-inner-info" class="modal-inner info modal move-to-left">
        <div class="margin-l-32">
            <div class="flex-column-start">
                <div id="contacts-bg">
                    <h1 class="contact-h1">Contact</h1>
                </div>

                <div id="info-header" class="flex-row margin-t">
                    <div id="initials-info" class="contact-icons cap-text info modal">Insert initials</div>
                    <div id="names-info" class="names upper-text">Insert name</div>
                </div>

                <div class="flex-row-contacts info media-show-icons">
                    <div id="contact-edit" class="flex-row-contacts gap links"></div>
                    <div id="contact-delete" class="flex-row-contacts gap links"></div>
                </div>

                <div>
                    <div class="margin-t subline-info">Contact Information</div>
                    <div class="margin-t contact-bold">Email</div>

                    <div id="mail-info" class="link lower-text">
                        insert mail
                    </div>
                    <div class="margin-t contact-bold">Phone</div>

                    <div id="phone-info">insert phone number</div>
                </div>
            </div>
        </div>
    </div>

    <div class="media-hide btn" onclick="showDropdown(event)">
        <img src="../img/contact-options.svg" />
    </div>

    <div id="dropContacts" class="dropdown-contacts-con display-none"></div>
</div>