  <!-- infomodal for contacts, appears on contact click ### START -->
  <div id="infobox-outer" class="hide">
    <div id="infobox-inner">
        <div class="margin-l flex-row-contacts">
            <span class="contact-icons-info orange">AM</span></span>
            <div>
                <p class="heading-info">Anton Mayer</p>
                <div class="flex-row-contacts">
                    <div class="flex-row-contacts gap links"><div class="icon-edit">Edit</div></div>
                    <div class="flex-row-contacts gap links"><div class="icon-delete">Delete</div></div>
                </div>
            </div>
        </div>
        <p class="margin-l subline-info">Contact information</p>
        <p class="margin-l margin-t-xl"><b>Email</b></p>
        <p class="margin-l ci-blue">antom@gmail.com</p>
        <p class="margin-l margin-t"><b>Phone</b></p>
        <p class="margin-l">+491562258745628</p>
    </div>
</div>
<!-- infomodal for contacts, appears on contact click ### END -->