<section class="sideboard">
    <div>
        <img src="../img/logo-white.svg" class="sideboard-logo" alt="logo">
    </div>
    <nav class="sideboard-space">

        <div class="flex-center flex-column info-links pos-bot">
            <a id="privacyPolicy" href="../sign-outs/sign-out-PrivacyPolicy.html">Privacy Policy</a>
            <a id="legalNotice" href="../sign-outs/sign-out-legalNotice.html">Legal Notice</a>
        </div>
    </nav>
</section>
<section class="header">
    <h4>Kanban Project Management Tool</h4>
    <div class="header-right">
        <a href="../sign-out-help.html">
            <img src="../img/helpIcon.svg" alt="help icon">
        </a>
        <span onclick="showMenu(event)">SM</span>
    </div>
</section>
<nav id="menuNav" class="display-none menu-nav flex-column">
    <a href="../sign-outs/sign-out-legalNotice.html">Legal Notice</a>
    <a href="../sign-outs/sign-out-PrivacyPolicy.html">Privacy Policy</a>
    <a href="../index.html">Log out</a>
</nav>