<section class="sideboard">
    <div>
        <img src="img/logo-white.svg" class="sideboard-logo" alt="logo">
    </div>
    <nav class="sideboard-space">
        <div class="icon-container">
            <a id="summary" href="summary.html" class="icon-center">
                <img class="sideboard-icon" src="img/summary.svg" alt="summary icon">
                <span id="spanSummary">Summary</span>
            </a>
            <a id="addTask" href="addTask.html" class="icon-center">
                <img class="sideboard-icon" src="img/add-task.svg" alt="add task icon">
                <span id="spanAddtask">Add Task</span>
            </a>
            <a id="board" href="board.html" class="icon-center">
                <img class="sideboard-icon" src="img/board.svg" alt="board icon">
                <span id="spanBoard">Board</span>
            </a>
            <a id="contacts" href="contacts.html" class="icon-center">
                <img class="sideboard-icon" src="img/contacts.svg" alt="contacts icon">
                <span id="spanContacts">Contacts</span>
            </a>
        </div>
        <div class="flex-center flex-column info-links">
            <a id="privacyPolicy" href="privacyPolicy.html">Privacy Policy</a>
            <a id="legalNotice" href="legalNotice.html">Legal Notice</a>
        </div>
    </nav>
</section>
<section class="header">
    <img class="header-logo" src="../img/join-logo-login.svg" alt="logo-join">
    <h4>Kanban Project Management Tool</h4>
    <div class="header-right">
        <a href="help.html">
            <img src="img/helpIcon.svg" alt="help icon">
        </a>
        <span onclick="showMenu(event)">SM</span>
    </div>
</section>
<nav id="menuNav" class="display-none menu-nav flex-column">
    <a href="legalNotice.html">Legal Notice</a>
    <a href="privacyPolicy.html">Privacy Policy</a>
    <a href="index.html">Log out</a>
</nav>