<section class="sideboard">
    <div>
        <img src="../img/logo-white.svg" class="sideboard-logo" alt="logo">
    </div>
    <nav class="sideboard-space">
        <div class="flex-center flex-column info-links pos-bot">
            <a id="privacyPolicy" href="../signOuts/sign-out-privacyPolicy.html">Privacy Policy</a>
            <a id="legalNotice" href="../signOuts/sign-out-legalNotice.html">Legal Notice</a>
        </div>
    </nav>
</section>
<section class="header">
    <img class="header-logo" src="../img/joinLogoHeader.svg" alt="logo-join">
    <h4>Kanban Project Management Tool</h4>
    <div id="test" class="header-right">
        <a href="../signOuts/sign-out-help.html">
            <img src="../img/helpIcon.svg" alt="help icon">
        </a>
    </div>
</section>