<div class="sideboard-bottom">
    <nav>
        <a id="summary" href="summary.html" class="icon-center">
            <img src="img/summary.svg" alt="summary icon">
            <span>Summary</span>
        </a>
        <a id="addTask" href="addTask.html" class="icon-center">
            <img src="img/add-task.svg" alt="add task icon">
            <span>Add Task</span>
        </a>
        <a id="board" href="board.html" class="icon-center">
            <img src="img/board.svg" alt="board icon">
            <span>Board</span>
        </a>
        <a id="contacts" href="contacts.html" class="icon-center">
            <img src="img/contacts.svg" alt="contacts icon">
            <span>Contacts</span>
        </a>
    </nav>
</div>